meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title= title
link(rel="icon" type="image/png" href="/img/icons/icon-64.png")
link(rel="manifest" href="/manifest.json")
link(rel="canonical" href=canonical)

meta(name="description" content=description)
meta(name="application-name" content=title)
meta(name="author" content="" )
meta(name="referrer" content="strict-origin")
meta(itemprop="name" content=title)
meta(itemprop="description" content=description)
meta(itemprop="image" content="./img/icons/icon-128.png")

include ./header.ios.pug
include ./header.android.pug